In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("creditcard.csv")
data

,reports,age,income,owner,selfemp,dependents,months,majorcards,active,card
0,0,37.66667,4.5200,1,0,3,54,1,12,1
1,0,33.25000,2.4200,0,0,3,34,1,13,1
2,0,33.66667,4.5000,1,0,4,58,1,5,1
3,0,30.50000,2.5400,0,0,0,25,1,7,1
4,0,32.16667,9.7867,1,0,2,64,1,5,1
...,...,...,...,...,...,...,...,...,...,...
1314,0,33.58333,4.5660,1,0,0,94,1,19,1
1315,5,23.91667,3.1920,0,0,3,12,1,5,0
1316,0,40.58333,4.6000,1,0,2,1,1,2,1
1317,0,32.83333,3.7000,0,1,0,60,1,7,1
1318,0,48.25000,3.7000,1,0,2,2,1,0,1

In [3]:
X = data.iloc[:,:-1].values
Y = data.iloc[:,-1].values
X

array([[ 0.     , 37.66667,  4.52   , ..., 54.     ,  1.     , 12.     ],
       [ 0.     , 33.25   ,  2.42   , ..., 34.     ,  1.     , 13.     ],
       [ 0.     , 33.66667,  4.5    , ..., 58.     ,  1.     ,  5.     ],
       ...,
       [ 0.     , 40.58333,  4.6    , ...,  1.     ,  1.     ,  2.     ],
       [ 0.     , 32.83333,  3.7    , ..., 60.     ,  1.     ,  7.     ],
       [ 0.     , 48.25   ,  3.7    , ...,  2.     ,  1.     ,  0.     ]])

In [4]:
Y

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [9]:
# model = RandomForestClassifier(n_estimators=100)
# model.fit(X,Y)

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, mean_squared_error, r2_score, f1_score

# Assuming X and Y represent your features and target variable respectively
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Initialize the RandomForestClassifier model
model = RandomForestClassifier(n_estimators=100)

# Train the model
model.fit(X_train, y_train)

# Predict the labels for the test set
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Calculate precision score
precision = precision_score(y_test, y_pred)

# Calculate RMSE
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Calculate MSE
mse = mean_squared_error(y_test, y_pred)

# Calculate R2 score
r2 = r2_score(y_test, y_pred)

# Calculate F1 score
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("RMSE:", rmse)
print("MSE:", mse)
print("R2 Score:", r2)
print("F1 Score:", f1)

Accuracy: 0.8636363636363636
Precision: 0.8738738738738738
RMSE: 0.3692744729379982
MSE: 0.13636363636363635
R2 Score: 0.24113701692749923
F1 Score: 0.9150943396226415

In [7]:
import pickle
filename = 'rforest.pkl'
pickle.dump(model ,open(filename, "wb"))